<div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
  <div class="github-component d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
    <div>
      <div class="d-flex flex-justify-between flex-items-start mb-1">
        <h1 class="f4 lh-condensed mb-1">
          <a href="https://autoscaler.cloud">
            <img class="v-align-middle" src="https://autoscaler.cloud/favicon.png" height="20">
            Autoscaler
          </a>
        </h1>
      </div>
      <div class="text-gray mb-2 ws-normal">
        Bring enterprise-grade capabilities to your cloud provider.
        Scale your server fleet automatically depending on the actual load it sustains.
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
  <div class="github-component d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
    <div>
      <div class="d-flex flex-justify-between flex-items-start mb-1">
        <h1 class="f4 lh-condensed mb-1">
          <a href="https://environmentaldata.xyz">
            <img class="v-align-middle" src="https://environmentaldata.xyz/assets/images/map-icon-128-72678ab0abf1ba3ccd26e7f949c19474.png" height="20">
            EnvironmentalData
          </a>
        </h1>
      </div>
      <div class="text-gray mb-2 ws-normal">
        Store you own sensor data, navigate and analyze millions of environmental measures (temperature, humidity, wind speed etc.) from all over the world.
      </div>
    </div>
  </div>
</div>
